In [1]:
a = []
b = [1, 2, 3, 4]
c = ['apple', 'banana', 'melon', 'grape']
d = [1, 2, 'apple', 'banana']
e = [1, 2, ['melon', 'grape']]

In [2]:
fruit = ['apple', 'banana', 'melon', 'grape']

print(fruit[0])
print(fruit[3])
print(fruit[-2])

apple
grape
melon

In [7]:
fruit = [1, 2, ['apple', 'banana', 'melon']]

print(fruit)
print(fruit[2][1])

[1, 2, ['apple', 'banana', 'melon']]
banana

In [10]:
list3 = [0, 1, 2, 3, 4]
print(list3[1:3])
print(list3[:2])
print(list3[3:])
print(list3[3:4])

[1, 2]
[0, 1]
[3, 4]
[3]

In [11]:
list4 = [1, 2, 3]
list5 = [3, 4, 5, 6]
list4 + list5

[1, 2, 3, 3, 4, 5, 6]

In [12]:
list5 = [0, 1, 2, 3, 4]
list5.append(5)
list5

[0, 1, 2, 3, 4, 5]

In [16]:
list5.insert(1,5)
list5

[0, 5, 1, 2, 3, 4, 6, 5, 6]

In [27]:
list6 = [0, 1, 2, 3, 4]
list6

[0, 1, 2, 3, 4]

In [28]:
print("수정전 :", list6[1])
list6[1] = 7
print("수정후 :", list6[1])

수정전 : 1
수정후 : 7

In [29]:
print(list6[2:4])
list6[2:4] = [7]
list6

[2, 3]

[0, 7, 7, 4]

In [32]:
type((7,))

tuple

In [34]:
list7 = [0, 1, 2, 3, 4, 5]
del list7[1:5]
list7

[0, 5]

In [35]:
list7 = ['a', 'b', 'c', 'd', 'e']
list7.remove('b')
list7

['a', 'c', 'd', 'e']

In [36]:
list8 =[9, 77, 13, 51, 100, 3]
list8.sort()
list8

[3, 9, 13, 51, 77, 100]

In [37]:
list9 = [9, 77, 13, 51, 100, 3]
list9.reverse()
list9

[3, 100, 51, 13, 77, 9]

In [38]:
list9.sort()
list9.reverse()
list9

[100, 77, 51, 13, 9, 3]

In [39]:
list11 = ['a', 'b', 'c', 'd', 'e', 'f']
list11.index('c')

2

In [40]:
list12 = ['a', 'b', 'c', 'd', 'e', 'f']
list12.pop()

'f'

In [41]:
list12

['a', 'b', 'c', 'd', 'e']

In [42]:
list13 = [0, 1, 2]
len(list13)

3

In [43]:
list14 = ['a', 'b', 'c', 'd', 'e', 'f']
len(list14)

6

In [44]:
tuple1 = (0,1,2,3,('a','b','c'),5)
len(tuple1)

6

In [45]:
tuple2 = ('a','b','c','d','e','f')
len(tuple2)

6

In [46]:
x = 1,

In [47]:
type(x)

tuple

In [49]:
str1 = "파이썬 최고"
"파이썬" in str1

True

In [50]:
"파이썬" not in str1

False

In [51]:
list1 = [77, 30, 10]
33 in list1

False

In [59]:
33 not in list1

True

In [61]:
number = 1
while number <= 3:
    print(number, end = " ")
    number += 1

1 2 3

In [73]:
num = 1

while True:
    print("파이썬 최고!!", end = "")
    num += 1

파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!

In [74]:
while True:
    print("무한루프")
    break

무한루프

In [75]:
num = 1

while True:
    print("파이썬 최고!!", end = "")
    num += 1
    
    if num > 13:
        break

파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!파이썬 최고!!

In [1]:
while True:
    num1 = int(input("첫 번째 정수 입력 >> "))
    num2 = int(input("두 번째 정수 입력 >> "))
    break

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 3

In [19]:
while True:
    num1 = int(input("첫 번째 정수 입력 >> "))
    num2 = int(input("두 번째 정수 입력 >> "))
    
    result = num1 + num2
    
    
    if num1 == 0 and num2 == 0:
        print("프로그램이 종료되었습니다.")
        break
        
    print("두 수의 합 : {}".format(result))

첫 번째 정수 입력 >> 0
두 번째 정수 입력 >> 0
프로그램이 종료되었습니다.