In [2]:
num = 1
total = 0

while num < 101:
    total += num
    num += 1
print(total)

5050

In [3]:
num = 1
total = 0

for i in range(1,101):
    total += i
print(total)

5050

In [2]:
import random

In [3]:
x = random.randint(1,50)

In [4]:
while True:
    num = int(input("숫자를 입력하세요 >> "))
    
    if x > num:
        print("{}보다 큰 수 입니다.".format(num))
    elif x < num:
        print("{}보다 작은 수 입니다.".format(num))
    else:
        print("정답을 맞추셨습니다.")
        break

숫자를 입력하세요 >> 25
25보다 큰 수 입니다.
숫자를 입력하세요 >> 33
33보다 큰 수 입니다.
숫자를 입력하세요 >> 42
42보다 큰 수 입니다.
숫자를 입력하세요 >> 50
50보다 작은 수 입니다.
숫자를 입력하세요 >> 46
46보다 작은 수 입니다.
숫자를 입력하세요 >> 45
정답을 맞추셨습니다.

In [11]:
x = [1,2,3,4]
for i in x:
    print(i)

1
2
3
4

In [12]:
hi = "안녕하세요"
for s in hi:
    print(s, end="")

안녕하세요

In [13]:
tuple_food = ("햄버거", "치킨", "피자")
for food in tuple_food:
    print(food)

햄버거
치킨
피자

In [18]:
score_list = [90,45,70,60,55]
num = 1

for i in score_list:
    if i >= 60:
        print("{}번 학생은 합격입니다.".format(num))
    else:
        print("{}번 학생은 불합격입니다.".format(num))
    num += 1

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

In [22]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [29]:
for i in range(1,10):
    print(i, end = "\t")

1	2	3	4	5	6	7	8	9

In [30]:
for i in range(3,10):
    print(i, end = " ")

3 4 5 6 7 8 9

In [31]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [33]:
for i in range(99,76,-1):
    print(i, end = " ")

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [36]:
for i in range(23,40):
    print(i, end = " ")

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

In [37]:
list1 = [[1,2],[3,4],[5,6]]
for i,j in list1:
    print(i,j)

1 2
3 4
5 6

In [38]:
a, b = 1, 7
print(a)
print(b)

1
7

In [39]:
start = int(input("첫 번째 정수 입력 >> "))
end = int(input("두 번째 정수 입력 >> "))

for i in range(start, end+1):
    print(i, end = " ")

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [43]:
total = 0

for i in range(1,101):
    if i % 3 == 0:
        total += i
print(total)

1683

In [2]:
for i in range(1,10):
    print("2 * {} = {}".format(i,2*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [4]:
for i in range(1,10):
    for z in range(2,10):
            print("{} * {} = {}".format(z,i,i*z),end = "\t")

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [5]:
for a in range(2,10):
    print("=== {}단 ===".format(a),end = "\t")
for i in range(1,10):
    for z in range(2,10):
            print("{} * {} = {}".format(z,i,i*z),end = "\t")

=== 2단 ===	=== 3단 ===	=== 4단 ===	=== 5단 ===	=== 6단 ===	=== 7단 ===	=== 8단 ===	=== 9단 ===	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [36]:
for i in range(0,10):
    for z in range(2,10):
        if i == 0:
            print("=== {}단 ===".format(z), end = "\t")
        else:
            print("{} * {} = {}".format(z,i,i*z),end = "\t")

=== 2단 ===	=== 3단 ===	=== 4단 ===	=== 5단 ===	=== 6단 ===	=== 7단 ===	=== 8단 ===	=== 9단 ===	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81