In [10]:
for i in range(1,6):
    for z in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

In [62]:
for i in range(5,0,-1):
    for z in range(i):
        print('*', end='')
    print()

*****
****
***
**
*

In [66]:
for i in range(1,6):
    for j in range(6-i):
        print(' ', end='')
    for j in range(i):
        print('*', end='')
    print()

     *
    **
   ***
  ****
 *****

In [96]:
for i in range(1,10,2):
    for j in range(int((10-i)/2)):
        print(' ', end ='')
    for j in range(i):
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********

In [97]:
for i in range(1,6):
    for j in range(5-i):
        print(' ', end ='')
    for j in range(2*i-1):
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********

In [102]:
def plus(num):
    return 2*num+5

In [103]:
plus(5)

15

In [112]:
def number_sum(num1,num2):
    result = num1 + num2
    return result

In [113]:
x = number_sum(3,10)

In [108]:
def number_sum(num1,num2):
    print(num1 + num2)

In [109]:
x = number_sum(3,10)

13

In [115]:
def number_minus(num1,num2):
    result = num1 - num2
    return result

In [116]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
result = number_minus(num1, num2)
result

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 3

7

In [140]:
def divisor(num):
    print("약수 :", end = " ")
    for i in range(1,num+1):
        if num%i == 0:
            print(i, end = " ")

In [141]:
num = int(input("정수 입력 >> "))

divisor(10)

정수 입력 >> 10
약수 : 1 2 5 10

In [157]:
def gugudan(num):
    for i in range(1,10):
        print("{} * {} = {}".format(num,i,num*i))

In [159]:
gugudan(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [160]:
def star(num):
    for i in range(1,num+1):
        for z in range(i):
            print("*", end='')
        print()

In [161]:
star(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [200]:
def x(num1, num2):
    
    for i in range(1,num1+1):
        if num1%i == 0 and num2%i == 0:
            result = i
    return result

In [201]:
num1 = int(input("첫번째 정수를 입력하시오 >> "))
num2 = int(input("두번째 정수를 입력하시오 >> "))

x(num1,num2)

첫번째 정수를 입력하시오 >> 10
두번째 정수를 입력하시오 >> 5

5

In [202]:
def x(num1, num2):
    
    list1 = []
    
    for i in range(1,num1+1):
        if num1%i == 0 and num2%i == 0:
            list1.append(i)
    return max(list1)

In [204]:
x(20,10)

10

In [205]:
def x(num1, num2):
    if num1 > num2:
        num1, num2 = num2, num1
        
    while num2%num1 != 0:
        
        num1 = num2%num1
        
    return num1

In [207]:
x(39,27)

3