In [78]:
score_list = [
    ["김미희", 89, 78, 99],
    ["황해도", 67, 88, 77],
    ["박병관", 100, 55, 96],
    ["김동원", 20, 10, 20]
]

In [79]:
print("============================================")
print("이름   Python   Java    DB     평균     학점")
print("============================================")

============================================
이름   Python   Java    DB     평균     학점
============================================

In [80]:
# 이름빼고 가져올 거니까 j=1부터 시작
avg_list=[]
grade_list=[]

#평균 구하기
for i in score_list:
    sum=0
    for j in range(1,len(i)):
        sum+=i[j]
    avg_list.append(int(sum/3))
    #실수로 나오기 때문에 int로 형변환
    
# 학점 구하기    
for i in avg_list:
    if i >= 90:
         grade_list.append("A")
    elif i >= 80 :
        grade_list.append("B")
    elif i >= 70 :
        grade_list.append("C")
    elif i >= 60 :
        grade_list.append("D")
    else:
        grade_list.append("F")

#### Score list에 평점 학점 넣기

In [81]:
cnt=0

for i in score_list:
    i.append(avg_list[cnt])
    i.append(grade_list[cnt])
    
    cnt+=1

In [82]:
score_list

[['김미희', 89, 78, 99, 88, 'B'],
 ['황해도', 67, 88, 77, 77, 'C'],
 ['박병관', 100, 55, 96, 83, 'B'],
 ['김동원', 20, 10, 20, 16, 'F']]

#### 예쁘게 출력

In [83]:
print("============================================")
print("이름   Python   Java    DB     평균     학점")
print("============================================")

for i in score_list:
    for j in i:
        print(j, end="\t")
    print()

============================================
이름   Python   Java    DB     평균     학점
============================================
김미희	89	78	99	88	B
황해도	67	88	77	77	C
박병관	100	55	96	83	B
김동원	20	10	20	16	F

In [84]:
avg2 = []

for i in range(1,4):
    sum2=0
    for j in score_list:
        sum2+= j[i]
    avg2.append(int(sum2/len(score_list)))

In [85]:
len(score_list)

4

In [86]:
print("============================================")
print("이름   Python   Java    DB     평균     학점")
print("============================================")

for i in score_list:
    for j in i:
        print(j, end="\t")
    print()
    
print("============================================")
print("평균", end = "\t")
for i in avg2:
    print(i,end="\t")

============================================
이름   Python   Java    DB     평균     학점
============================================
김미희	89	78	99	88	B
황해도	67	88	77	77	C
박병관	100	55	96	83	B
김동원	20	10	20	16	F
============================================
평균	69	57	73

### 완전 수 구하기

In [96]:
def getPerctNumber(x,y):
    print("{}~{}까지의 완전수 : ".format(x,y), end="")
    for i in range(x,y+1):
        sum=0
        for j in range(1,i):
            if (i%j==0):
                sum+=j
        if (sum==i):
            print(i,end=" ")

In [97]:
startValue = 2
endValue = 1000;

getPerctNumber(startValue,endValue)

2~1000까지의 완전수 : 6 28 496