In [1]:
import pandas as pd

In [5]:
#Series 생성
population=pd.Series([9904321,3448737,2890451,2466052])
population

0    9904321
1    3448737
2    2890451
3    2466052
dtype: int64

In [6]:
#값 확인
population.values

array([9904321, 3448737, 2890451, 2466052], dtype=int64)

In [7]:
population.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
population=pd.Series([9904321,3448737,2890451,2466052],index = ['서울','부산','인천','대구'])

In [11]:
population

서울    9904321
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [12]:
population.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [13]:
#타입 확인
population.dtype

dtype('int64')

In [14]:
#value에 이름 지정
population.name="인구"
#index에 이름 지정
population.index.name="도시"

In [15]:
population

도시
서울    9904321
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [16]:
#Series 연산
population/1000000

도시
서울    9.904321
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [17]:
#Series 인덱싱
#지정한 index값을 적어넣어도 되고,
#원래 index값을 적어도 동일한 값을 출력
population[0]

9904321

In [24]:
population[['서울','인천']]

도시
서울    9904321
인천    2890451
Name: 인구, dtype: int64

In [26]:
#행의 위치를 바꿀 수 있음.
population[[0,2,1]]

도시
서울    9904321
인천    2890451
부산    3448737
Name: 인구, dtype: int64

In [27]:
#기본 슬라이싱 가능
population[0:2]

도시
서울    9904321
부산    3448737
Name: 인구, dtype: int64

In [28]:
#직접 인덱싱한 값들을 슬라이싱 하면 [이상:이하]가 된다.
population["서울":"인천"]

도시
서울    9904321
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [32]:
#boolean 인덱싱
population[population>3000000]

도시
서울    9904321
부산    3448737
Name: 인구, dtype: int64